
html {
  /* font-size: 62.5%; */
  font-family: "Urbanist", sans-serif;
}

#main-heading {
  font-size: 64px;
  color: #1e1403;
}

p {
  font-size: 18px;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 1.5;
}

.section-border {
  width: 1000px;
  color: #fff;
  /* background-color: #5e9de9; */
  /*?  border here  */
  /* border: 15px solid #003180; */

  /*?  write each property individual  */
  /* border-width: 15px;
  border-style: solid;
  border-color: #003180; */

  /*? we can write them individually too  */
  /* border-top: 15px solid #003180;
  border-right: 15px dotted red;
  border-bottom: 15px ridge green;
  border-left: 15px double #003b99; */

  /*? Now, further we can go more deeper with each individual values. */
  /* border-top-width: 15px;
  border-top-style: solid;
  border-top-color: #003b99; */
}

div {
  width: 500px;
  height: 300px;
  background-color: #5e9de9;
  /*? border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;  */
  border-radius: 50%;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

/**  BORDERS IN CSS

/* 1. Short-hand Syntax:
       ? border: [border-width] [border-style] [border-color];

    - `[border-width]`: Specifies the width of the border (e.g., `1px`, `2px`, `3px`, etc.).
    - `[border-style]`: Specifies the style of the border (e.g., `solid`, `dotted`, `dashed`, etc.).
    - `[border-color]`: Specifies the color of the border (e.g., a color name, hex code, RGB value, etc.). */

/*? Border Style: 
/* border-style: none;
border-style: hidden;
border-style: dotted;
border-style: dashed;
border-style: solid;
border-style: double;
border-style: groove;
border-style: ridge;
border-style: inset;
border-style: outset; */

/* top and bottom | left and right */
/* border-style: dotted solid; */

/* top | left and right | bottom */
/* border-style: hidden double dashed; */

/*? Border Color

/** ---------------------------------------- --> */
