* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient(red, yellow); */
  /* background-image: linear-gradient(to left, red, yellow); */
  /* background-image: linear-gradient(to top, red, yellow); */
  /* background-image: linear-gradient(90deg, red, yellow); */
  /* background-image: linear-gradient(270deg, red, yellow); */
  /* background-image: linear-gradient(to top right, red, yellow,blue, green); */
  /* background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.5),
    rgba(255, 0, 0, 0.5)
  ); */
  /* background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  ); */
  /* background-image: repeating-linear-gradient(45deg, #d2e0fb, #79ac78 50px); */
  background-image: linear-gradient(
      to right top,
      rgba(5, 25, 55, 0.6),
      rgba(0, 77, 122, 0.6),
      rgba(0, 135, 147, 0.6),
      rgba(0, 191, 114, 0.6),
      rgba(168, 235, 18, 0.6)
    ),
    url("https://images.pexels.com/photos/3888151/pexels-photo-3888151.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
} 