* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Urbanist";
}

body {
  width: 100%;
  height: 100vh;
  background-color: hsl(0, 0%, 94%);
  background-color: black;
  display: grid;
  place-items: center;
}

img {
  /*box-shadow: 0 0 0 40px #fff;
  */ /*?filtershadowhere*/

  filter: drop-shadow(-10px 10px 0 #f90000);
}

/*? Drop shadow, often used for images, creates a shadow  */
/* It is defined using the filter property with the drop-shadow function. */