* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Urbanist", sans-serif;
}

body {
  display: grid;
  place-items: center;
  background-color: hsl(0, 0%, 96%);
}

#main-heading {
  font-size: 6.2rem;
  color: #1e1403;
  margin: 3rem 0;
}

.flex-container {
  width: 60%;
  height: auto;
  padding: 50px 0;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  background: linear-gradient(to right, #514a9d, #24c6dc);
  color: #fff;

  /* flexbox container properties */
  display: flex;
  /* flex-direction: row-reverse; */
  flex-direction: column-reverse;
  /* flex-direction: row; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: center; */
  /* align-items: start; */
  gap: 20px;  

  flex-wrap: wrap;
  align-content: center;
}

.item {
  min-width: 200px;
  height: 100px;
  /* aspect-ratio: 1; */
  background-image: linear-gradient(to right top, #004d7a, #00bf72, #a8eb12);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  font-size: 24px;
  flex:1 ;
}

/* .item-2 {
  flex-grow: 1;
  flex-shrink: 1;
  align-self: center;
}

.item-3 {
  flex-basis: 200px;
} */

/* ! Question */
/*? Create a vertical navigation menu using Flexbox where the menu items are centered both horizontally and vertically within the container. */
/* <div class="menu">
  <div class="menu-item">Home</div>
  <div class="menu-item">About</div>
  <div class="menu-item">Services</div>
</div> */

/* .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
} */


/* ! Notes */
/*? Flexbox is a one-dimensional layout */

/*? Main Axis and Cross Axis:
/** In a flex container,  one axis is considered the main axis, and the other is the cross axis. You can set the main axis to be either horizontal (row) or vertical (column). */

/*? Flex Direction (flex-direction): Use flex-direction to specify the direction to either main axis or cross-axis.
Values: row, row-reverse, column, column-reverse.
.flex-container {
  flex-direction: row; /* Horizontal main axis (default) 
} */

/*? if the flex-direction:row then horizontal will be main-axis 
if flex-direction:column the vertical part will be main-axis and horizontal axis become the cross axis  */

/*? Items display in a row (the flex-direction property's default is row). */

/*? Justify Content (justify-content): justify-content aligns flex items along the main axis.
Values include flex-start, flex-end, center, space-between, and space-around. */

/*? Align Items (align-items):
align-items aligns flex items along the cross axis.
Values include flex-start, flex-end, center, stretch, and baseline. */

/*? flex-wrap:
- Specifies whether flex items should wrap to the next line when they overflow the container.
/** - Values: nowrap (default), wrap, wrap-reverse. */

/*? align-content:
- Aligns multiple lines of flex items when there is extra space along the cross axis.
- Values: flex-start, flex-end, center, space-between, space-around, stretch. */

/** ------------- Flex Item Properties (children) ------------ */
/*? order:
- Determines the order in which a flex item appears relative to other flex items within the container.
- Lower values come first. */

/*? flex-grow:
- Specifies how much a flex item should grow to fill available space along the main axis.
- Default value is 0, meaning it won't grow. */

/*? flex-shrink:
- Specifies how much a flex item should shrink when there isn't enough space along the main axis.
- Default value is 1, meaning it will shrink. */

/*? flex-basis:
- Defines the initial size of a flex item along the main axis.
- Default value is auto, which means the item's size is determined by its content. */

/*? flex (Shorthand for flex-grow, flex-shrink, and flex-basis):
- Combines the three flex item properties in one declaration. */

/** ---------- Alignment Properties (Self) ---------------- */

/*? align-self:
- Overrides the align-items property for an individual flex item.
- Allows you to align a single item differently from others. */
