@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&family=Poppins:wght@200;300;400;600&family=Quicksand:wght@300;400;500;600;700&family=Urbanist:wght@300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "thapaFont";
  src: url("./font/Fortune.otf") format("OpenType");
}

body {
  background-color: hsl(0, 0%, 94%);
  display: grid;
  place-items: center;
}

.hero-section {
  width: 50%;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-family: "Urbanist", sans-serif;
  font-family: "thapaFont", "Urbanist", sans-serif;
  font-size: 54px;
  font-weight: 900;
  font-style: italic;
  font-variant: small-caps;
}

p {
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

a {
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
}