* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Urbanist";
}

section {
  width: 100%;
  height: 100vh;
  background-color: hsl(0, 0%, 94%);
  display: grid;
  place-items: center;
}

img {
  width: 50%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  /* filter: opacity(1); */
  filter: blur(3px) grayscale(0.5) contrast(1.2);
  
}

/*? Filters can alter properties like color, brightness, contrast, and more. */

/** Commonly Used Filter Functions: */

/* filter: grayscale(0.5); 50% grayscale */
/* filter: blur(5px); 5 pixels of blur */
/* filter: brightness(1.5); 150% brightness */
/* filter: contrast(0.8); 80% contrast */
/* filter: saturate(2); Double saturation */
/* filter: hue-rotate(90deg); 90-degree hue rotation */
/* filter: invert(0.7); 70% color inversion */
/* filter: opacity(0.5); 50% opacity */
/* filter: sepia(0.7); 70% sepia effect */


/* CSS filters can be combined by separating them with spaces.
Filters can be applied to images, backgrounds, and even entire sections of a webpage.*/
