* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html {
  font-family: Urbanist;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to right top,
      rgba(5, 25, 55, 0.9),
      rgba(0, 77, 122, 0.9),
      rgba(0, 135, 147, 0.9),
      rgba(0, 191, 114, 0.9),
      rgba(168, 235, 18, 0.9)
    ),
    url("https://images.pexels.com/photos/3888151/pexels-photo-3888151.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
}

#main-heading {
  padding: 40px 0;
  font-weight: bold;
  font-size: 48px;
  color: #f4f3f1;
  text-align: center;
}

p {
  line-height: 1.6;
  letter-spacing: 1px;
  font-size: 18px;
}

/* box model css  */
.section-one {
  padding: 50px;
  width: 1200px;
  background-color: #5e9de9;
  color: #fff;
  /*? Four Values: `margin: top right bottom left;` */
  /* margin: 200px 200px 200px 200px; */

  /*? Three Values: margin: top right-left bottom; */
  /* margin: 100px 200px 150px; */

  /*? Two Values: margin: top-bottom right-left; */
  /* margin: 100px 200px; */

  /*? One Value: margin: all four direction; */
  /* margin: 200px; */
  margin: auto;
  margin-bottom: 50px;
}

.section-two {
  padding: 50px;
  width: 1200px;
  background-color: #5ee9b6;
  margin: auto;
  margin-top: 60px;
}